app/mirror/
captures/
libraries/
build/
**/build
**/lint.xml
gen/
.gradle/
local.properties
artifactory.properties
*.iml
.DS_Store
*.exec
*.patch

.idea/
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/icon.svg
